body {
    font-family: monospace;
    margin: 0;
    padding-left: 1vw;
}

section {
    padding: 1vw;
}

.sideBySide {
    display: inline-flex;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 2vw;
}

ul {
    padding: 0;
    padding-left: 5vw;
}

li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: underline;
}
.title-link {
    font-size: 16px;
    font-weight: bold;
    color: #24292e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 300px;
    height: auto;
    filter: grayscale(60%);
}

p {
    padding-left: 0;
    line-height: 1.8;
}