body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}


section {
    padding: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 40px;
}

ul {
    list-style-type: square;
    padding: 0;
    padding-left: 50px;
}

li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: underline;
}
.title-link {
    font-size: 20px;
    font-weight: bold;
    color: #24292e;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

/* Added CSS rule to make images smaller */
img {
    max-width: 300px;
    height: auto;
}

p {
    padding-left: 40px;
    line-height: 1.8;
}